body{
    font-family: 'Lucida Sans Unicode', 'Gill Sans MT', Lucida, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

main{
    margin-top: 8px;
}

main img{
    float: left;
    margin-right: 8px;
}

p{
    text-align: justify;
    margin-right: 20px;
}