body{
    margin: 0;
}

.parallax{
    background-image: url(../img/img1.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

#navbar{
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 20;
    width: 100%;
}

.navLink{
    text-decoration: none;
    color: black;
    margin-left: 2px;
}

i{
    padding: 15px;
    color: black;
    filter:drop-shadow(1px 1px 1px white);
    transition: 0.15s;
    margin-right: 10px;
}

i:hover{
    color: blueviolet;
    transform: scale(1.2);
}