h1 {
    text-align: center;
}

h3 {
    color: #1da6bb;
}

.fantasia {
    color: darkgreen;
    text-decoration: none;
    transition: 0.15;
}

.scifi {
    color: red;
    text-decoration: none;
    transition: 0.1s;
}

.scifi a:hover,
.fantasia a:hover {
    background-color: skyblue;
    transform: scale(2);
}

html {
    background-color: linen;
}

#libros {
    color: #196975;
    font-weight: bold;
}