body{
	margin:0px;
	font-family: Optima, sans-serif;
	font-size:12px;
}
 
#cabecera {
	background-color:black;
    height:28px;
	width: 320px;
    padding:6px 6px 10px 6px;
	position:absolute;
	top: 40px;
	right: 0px;
}

#contenido {
	/*para que al hacer pequeña la ventana los articles no corten nunca el pie*/
	display: inline-block;
	width:100%;
}
#pie {
	/*la ruta relativa es desde la carpeta donde nos encontramos (css)*/
	background-image: url("../images/pie.jpg");
	height:26px;
	padding-top:8px;
	clear: both;
	color: rgb(37, 37, 37);
	text-align: center;
	width:100%;
 }

 .container {
	text-align: center;
	display: flex;
	justify-content: flex-start;
	/* position:relative;
	top:-100px; */
 }
 #usuario{
	 padding-right:10px;
	 border-right:1px solid rgb(37, 37, 37);
 }

 #copyright{
	 margin-left:10px;
 }

 #menu{
	padding:5px;
 }

 #menu a{
	text-decoration: none;
	color:white;
 }

 .elem-menu:hover{
	color:#f9810f !important;
  }
  
 #home-link{
	 margin-left:100px;
	 margin-right:10px;
 }

 #contacto-link{
	 border-right:1px solid white;
	 padding-right:12px;
 }

 .icon{
	margin-left:5px;
 }


.image-principal{
	display:block;
	margin-bottom:10px;
}

figure{
	margin:0px;
}