
  .titulo{
	margin-top:10px;
	  font-weight: bold;
  }

  .bloque-titulo{
	height:29px;
  }

  .bloque {
	padding: 25px;
	background-color: white;
	display: inline-grid;
	width:200px;
	text-align: left;
	height: auto;
  }


  .image-bloque{
	  display:block;
	  margin-bottom:10px;
	  cursor:pointer;
  }

  .margin-r-5{
	  margin-right:5px;
  }

  .cursor-pointer{
	  cursor:pointer;
  }

  .image-bloque:hover {
	-ms-transform: scale(1.1); /* IE 9 */
	-webkit-transform: scale(1.1); /* Safari 3-8 */  
	transform: scale(1.1); 
  
  }

  .plus{
	color:red; 
	font-weight:bold;
	margin-right:5px;
  }