#containerForm{
    background-color: white;
    position: relative;
    z-index: 20;
    top: -200px;
    width: max-content;
    margin: auto;
}

#form{
    background-color: lightgray;
    padding: 20px;
}

.inputUser{
    margin: 5px 5px 5px 0px;
    height: 25px;
    width: 100%;
}

#text{
    height: 100px;
}

.message{
    height: 100px;
}

label span{
    color: #eb8934;
}

#button{
    margin-top: 10px;
	background-color: #eb8934;
    width: 30%;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 7px;
}