body {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.backgroundImg{
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

#container {
    position: relative;
    margin: auto;
    max-width: max-content;
    z-index: 20;
}

.bookDiv{
    padding: 20px;
    margin: 5px;
    background-color: white;
    text-align: justify;
    width: 250px;
    color: black;
}

.cover{
    width: 250px;
    height: 388px;
    transition: 0.15s;
}

.cover:hover{
    transform: scale(1.05);
}

.bold{
    font-weight: bold;
}

#sideMenu {
    background-color: black;
    color: white;
    padding: 10px;
    width: 450px;
    text-align: right;
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 50;
}

.sideMenuLink{
    text-decoration: none;
}

.sideMenuText{
    margin-right: 10px;
    font-size: 1.2em;
    color: white;
}

.sideMenuText:hover{
    color: salmon;
}

#verticalBar{
    margin-right: 10px;
    font-size: 1.2em;
}

.icon{
    margin-right: 5px;
    height: 24px;
    width: 24px;
}

footer{
    clear: both;
    background-color: gray;
    text-align: center;
    padding: 15px;
}

.footerText{
    margin-right: 15px;
    margin-left: 15px;
}

@media only screen and (min-width: 700px) and (max-width: 8000px){
    #container{
        top: -100px;
    }

    .bookDiv{
        float: left;
    }
}

@media only screen and (max-width: 700px){
    #container{
        top: -50px;
    }
    .bookDiv{
        float: none;
    }
}